<div class = "navbar">
    <ul class = "nav-list">
        <li class = "nav-item">
            <a class = "nav-link" href = "#">
                <img id = "logo" src = "https://comicvine.gamespot.com/a/uploads/scale_small/2/22300/451004-untitled.jpg" height="60" width="60">
            </a>
        </li>
        <li class = "nav-item">
            <a class = "nav-link" href = "#">
                All Pokemon
            </a>
        </li>
        <li class="nav-item">
            <button id="add-button">Add Pokemon</button>
        </li>
    </ul>
</div>
